			body {

				overflow-x: hidden;
				margin-top: 0px;
				
		               
			}
			

			
			.img-circle {
				
				max-width: 150px; 
				max-height: 150px; 	
				border-radius: 50%;
				margin-left: 30px;
				margin-top: 50px;
		 	}

		 	h3 {
		 		text-align: center;

		 	}

		 	.content h1 {

		 		text-align: left;
		 	}
			nav h3 a{

				text-decoration: none;
				color: white;
				
				
				

			}
			.content {
				overflow-x: hidden ;
				position: relative;
				left: 15em;
				width: 85%;
				


			}
			.content  {

				text-align: justify;
				font-family: "Lato","Helvetica Neue",Helvetica,sans-serif;
				color: gray;



			}

			/*.content div span {

				visibility: hidden;
				margin-left: 300px; 	
			}*/

			.description{

				width: 90%;
				padding: 10px;
				

			}

			#side-des {


				color: white;
				text-align: center;
				padding: 10px;
				font-style: italic;
			}
			nav {
				position: fixed;
				display: inline-block; 
				width: 15%;
				min-width: 200px;
				top: 0;
				bottom: 0;
				left: 0;
				background-color: #5E412F;
				z-index: 1000;
				opacity: 0.8;
								background-image: linear-gradient(rgba(204, 229, 255, 0.15), rgba(0, 0, 0, 0.3)), url("img/bg.gif");
		        background-repeat: repeat, repeat;
				

				}

			nav ul {

				list-style: none;
				margin-top: 100px;
			}

			nav ul li a {
				text-decoration: none;
				display: block;
				text-align: left;
				color: white;
				padding: 10px;	


			}
			.top-nav {

				position: relative;
				left: 0;
				margin-left: -20px;
				padding-bottom: 10px;



			}

			.top-nav ul {

				text-align: center;
				list-style: none;
				background-color: #78C0A8;  
				padding:  30px 30px;
				margin-top: 0;


			}

			.top-nav ul li {

				
				display: inline;
				padding: 5px 5px;
				border-bottom: 2px white solid;
				margin:10px;


			}

			.top-nav ul li a{
				text-decoration: none;
				padding: 20px 20px;
				color: white;

			}	
			.social-media {

				margin-top: 0px;
			}

			.social-media li {

				
				display: inline-block; 
				left: 100px;


			}

			.social-icons {


				width: 30px;
				height: 30px;
				margin-left: -10px;
			}

			.first-highlight {

				font-weight: bold;
				background-color: #78C0A8;
				opacity: 0.8;
				margin-left: -40px;
				text-align: center;

			}

			


			.project-container {
				width: 80%;	
				min-width: 200px;					
				overflow: auto;
				margin: auto;
				



			}

			

			

			.project-tile {
				width: 200;
				margin: 10px;
				margin-top: 0;
				display: inline-block;
				float:left;
				border: 1px solid #78C0A8;
				height: 150px;
				background: url(img/bg.gif);


			}

			.project-tile a {

				text-decoration: none;
				text-align: center;

			}
			.project-tile:hover {
				background-color: #78C0A8;
				opacity: 0.9;


			}

			

			
   				 div.desc {
	padding: 49px;
	text-align: center;
	font-family: "Impact";
	font-size: 25px	;
	color: white;
}
			

			


			.project-content {
				position: relative;
				width: 60%;
				left: 15em;
				text-align: center;			
				font-family: "Lato","Helvetica Neue",Helvetica,sans-serif;
				color: gray;
				overflow: auto;


			}

			
			.project-image {

				width: 45%;				
				min-width: 150px;
				max-width: 300px;	
			float: left
				margin: 5px;
				border: 2px gray solid;
				

			}

			.project-content2 {
				position: relative;
				width: 60%;
				left: 15em;
				text-align: justify;			
				font-family: "Lato","Helvetica Neue",Helvetica,sans-serif;
				color: gray;
				overflow: auto;


			}

			.cv-right-item {

				float: right;
				font-weight: bold;
			}

			.blog-sidebar {

				
				left: 65%;				
				background-image: linear-gradient(rgba(204, 229, 255, 0.15), rgba(0, 0, 0, 0.3)), url("img/bg.gif");
		        background-repeat: repeat, repeat;
				width: 20%;
				height: 50%;
				float: left;
				;


			}
			.blog-sidebar p {
				color: white;
				text-align: center;


			}

			.post {

				float: left;
				width: 60%;


			}







